// Fonts
$rem-base: 0.625rem;

$font-body-family: 'Barlow', Helvetica, 'Helvetica Neue', Arial, sans-serif;
$font-title-family: 'Bellefair', 'Times New Roman', serif;
$font-condensed-family: 'Barlow Condensed', 'Times New Roman', serif;

$font-body-line-height: 1.8;
$font-title-line-height: 1.15;