@use "./variables/fonts" as *;
@use "./mixins" as *;

*  { box-sizing: border-box; }

html {
    font-size: $rem-base;
    scroll-behavior: smooth;
}

body {
    --img: url('~/assets/images/home/background-home-mobile.jpg');

    font-family: $font-body-family;
    font-weight: 400;
    font-size: clamp(1.5rem, 1rem + 1vw, 1.8rem);
    line-height: $font-body-line-height;
    
    color: var(--clear-color);
    background-color: var(--background-color);

    background-image: var(--img);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100lvh;
    overflow-x: hidden;

    @include after-out(large) {
        min-height: 100vh;
    }
}