/* bellefair-regular - latin */
@font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/bellefair-v14-latin-regular.woff') format('woff'),
         url('/assets/fonts/bellefair-v14-latin-regular.woff2') format('woff2')
}

/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/barlow-v12-latin-regular.woff') format('woff'),
         url('/assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'); 
}

/* barlow-condensed-regular - latin */
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/barlow-condensed-v12-latin-regular.woff') format('woff'),
         url('/assets/fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'); 
}