@use "sass:map";
@use "sass:math";
@use "sass:meta";

$breakpoints: (
  small: 375px,
  medium: 768px,
  large: 960px,
  wide: 1440px
);

@function is-number($value) {
  @return meta.type-of($value)=='number';
}

@function media($size) {
  @return map.get($breakpoints, $size);
}

@mixin before-out($size) {
  @if(is-number($size)) {
      @media screen and (max-width: $size - 1 + "px") {
          @content;
      }
  }

  @else {
      @media screen and (max-width: media($size) - 1) {
          @content;
      }
  }
}

@mixin before-in($size) {
  @if(is-number($size)) {
      @media screen and (max-width: $size + "px") {
          @content;
      }
  }

  @else {
      @media screen and (max-width: media($size)) {
          @content;
      }
  }
}

@mixin after-in($size) {
  @if(is-number($size)) {
      @media screen and (min-width: ($size) + "px") {
          @content;
      }
  }

  @else {
      @media screen and (min-width: media($size)) {
          @content;
      }
  }
}

@mixin after-out($size) {
  @if(is-number($size)) {
      @media screen and (min-width: ($size + 1) + "px") {
          @content;
      }
  }

  @else {
      @media screen and (min-width: media($size) + 1) {
          @content;
      }
  }
}