%container {
    --_padding: 2.4rem;

    position: relative;
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--_padding);

    @include breakpoint(medium) {
        --_padding: 4.8rem
    }
}