@use "mixins" as *;

%container {
    --container-padding: 2.4rem;

    position: relative;
    width: 100%;
    max-width: calc(var(--container-width) + (var(--container-padding) * 2));
    margin: 0 auto;
    padding: 0 var(--container-padding);

    @include after-in(medium) {
        --container-padding: 4.8rem
    }

    @include after-in(1196) {
        --container-padding: 0px;
    }
}

%condensed-font {
    --_letter-spacing: clamp(2.35px, 0.5vw, 4.75px);

    font-family: var(--condensed-font);
    font-weight: 400;
    letter-spacing: var(--_letter-spacing);
    text-transform: uppercase;
}