@use "./variables/fonts" as *;
@use "./placeholder" as *;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title-family;
    font-weight: 400;
    line-height: $font-title-line-height;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: var(--accent-color);
    max-width: 50ch;
}

.title {
    padding: 0.16em 0 0.32em 0;
}

.condensed-font {
    @extend %condensed-font;
}