@use "./variables/fonts" as *;
@use "./placeholder" as *;
@use "./mixins" as *;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title-family;
    font-weight: 400;
    line-height: $font-title-line-height;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: var(--accent-color);
    max-width: 50ch;
}

.title {
    margin: 0.16em 0 0.32em 0;

    &--section {
        margin-bottom: 2em;

        @include before-in(medium) {
            text-align: center;
        }

        @include after-out(large) {
            margin-bottom: 2.4em;
        }

        span {
            opacity: 0.25;
            margin-right: 1em;
        }
    }
}

.condensed-font {
    @extend %condensed-font;
}