@use "../base/mixins" as *;

.section {
    padding: 2rem 0;
    min-height: clamp(40rem, 100vh, 1100px);
    padding-top: calc(var(--header-padding) * 3 + var(--header-height));

    @include before-in(medium) {
        padding-top: calc(var(--header-padding) * 2 + var(--header-height));
    }
}